jdbc.driver =org.postgresql.Driver

jdbc.is_local=true
jdbc.uri_local=jdbc:postgresql://localhost:5432/logistic_db
db.user_local=logistic_admin
db.password_local=12345678

jdbc.uri_remote =//todo


hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect
hibernate.show_sql=true
entitymanager.packages.to.scan=kpfu.logistic.server.entity
hibernate.hbm2ddl.auto =update
hibernate.enable_lazy_load_no_trans=true

crypter.soil=die in fire
